.news-con {
    background-color: #FAFAFA;
    padding-top: 53px!important;
    padding-bottom: 30px!important;
    margin-top: 70px;
}

.sp-box-con.boxed.boxed--border {
    border: 1px solid transparent;
}

.sp-box-con.boxed {
    position: relative;
    overflow: hidden;
    padding: 1.85714286em;
    margin-bottom: 30px;
}

.sp-box-con i {
    width: 25%;
    float: left;
}

.sp-box-con p {
    min-height: 5.57142857em;
    margin: 0;
    font-size: 13pt;
    color: #4B4C4C;
    letter-spacing: 0px !important;
    line-height: 6mm !important;
    font-weight: 300 !important;
    font-family: 'Helvetica Neue' !important;
}

.sp-box-con .feature__body {
    width: 75%;
    float: right;
}

.sp-box-con{
    height: 170px;
    border-radius: 20px;
}


.con-box-1 i {
    font-size: 64px;
    color: #EA5B0B;
    text-align: left;
    position: relative;
    top: 15px;
}

.con-box-1 p {
    position: relative;
    top: 13px;
}

.con-box-1:hover i,
.con-box-1:hover,
.con-box-1:hover p{
    color: white;
}

.con-box-1:hover{
    background-color: #EA5B0B;
    transition: 1s;
}
.con-box-2 i {
    font-size: 70px;
    color: #702673;
    text-align: left;
    position: relative;
    top: 15px;
    left: -10px;
}

.con-box-2 p {
    position: relative;
    top: 15px;
    left: 20px;
}

.con-box-2:hover i,
.con-box-2:hover,
.con-box-2:hover p{
    color: white;
}

.con-box-2:hover{
    background-color: #702673;
    transition: 1s;
}


.con-box-3 i {
    font-size: 60px;
    color: #58A332;
    text-align: left;
    position: relative;
    top: 26px;
    left: -5px;
}

.con-box-3 p {
    position: relative;
    top: 10px;
    left: 18px;
}

.con-box-3:hover i,
.con-box-3:hover,
.con-box-3:hover p{
    color: white;
}

.con-box-3:hover{
    background-color: #58A332;
    transition: 1s;
}

.con-box-4 i {
    font-size: 60px;
    color: #283583;
    text-align: left;
    position: relative;
    top: 21px;
}

.con-box-4 p {
    position: relative;
    top: 24px;
    left: 28px;
}

.con-box-4:hover i,
.con-box-4:hover,
.con-box-4:hover p{
    color: white;
}

.con-box-4:hover{
    background-color: #283583;
    transition: 1s;
}

.con-box-5 i {
    font-size: 60px;
    color: #BE1622;
    text-align: left;
    position: relative;
    top: 23px;
    left: -5px;
}

.con-box-5 p {
    position: relative;
    top: 40px;
    left: 15px;
}

.con-box-5:hover i,
.con-box-5:hover,
.con-box-5:hover p{
    color: white;
}

.con-box-5:hover{
    background-color: #BE1622;
    transition: 1s;
}

.con-box-6 i {
    font-size: 70px;
    color: #F9B234;
    text-align: left;
    position: relative;
    top: 15px;
    left: -3px;
}

.con-box-6 p {
    position: relative;
    top: 42px;
    left: 10px;
}

.con-box-6:hover i,
.con-box-6:hover,
.con-box-6:hover p{
    color: white;
}

.con-box-6:hover{
    background-color: #F9B234;
    transition: 1s;
}

.con-box-7 i {
    font-size: 60px;
    color: #E7332A;
    text-align: left;
    position: relative;
    top: 21px;
    left: 0px;
}

.con-box-7 p {
    position: relative;
    top: 5px;
    left: 18px;
}

.con-box-7:hover i,
.con-box-7:hover,
.con-box-7:hover p{
    color: white;
}

.con-box-7:hover{
    background-color: #E7332A;
    transition: 1s;
}

.con-box-8 i {
    font-size: 90px;
    color: #575756;
    text-align: left;
    position: relative;
    top: 4px;
    left: 6px;
}

.con-box-8 p {
    position: relative;
    top: 24px;
    left: 8px;
}

.con-box-8:hover i,
.con-box-8:hover,
.con-box-8:hover p{
    color: white;
}

.con-box-8:hover{
    background-color: #575756;
    transition: 1s;
}

/* Flipbox */
.flip-box.custom {
    background-color: transparent;
    width: auto;
    height: 170px;
    perspective: 1000px;
    margin-bottom: 10px;
}
  
.flip-box.custom .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box.custom:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


.flip1 {
    background-color: #EA5B0B;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact1.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 101px;*/
    background-position-x: 50px;
}

.backflip1 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip2 {
    background-color: #702673;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact2.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 95px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 95px;*/
    background-position-x: 50px;
}

.backflip2 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip3 {
    background-color: #58A332;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 80px;
    background-position: center;
    background-position-x: center;
    background-position-y: 48px;
    background-position-x: center;
    /*background-position-x: 95px;*/
    background-position-x: 50px;
}

.backflip3 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip4 {
    background-color: #283583;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 101px;*/
    background-position-x: 50px;
}

.backflip4 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip5 {
    background-color: #BE1622;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 103px;*/
    background-position-x: 50px;
}

.backflip5 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip6 {
    background-color: #F9B234;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact6.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 98px;*/
    background-position-x: 50px;
}

.backflip6 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip7 {
    background-color: #E7332A;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact7.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 100px;*/
    background-position-x: 50px;
}

.backflip7 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.flip8 {
    background-color: #575756;
    height: 170px;
    border-radius: 20px;
    background-image: url('/sites/default/files/2020-07/fact8.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    /*background-position-x: 88px;*/
    background-position-x: 50px;
}

.backflip8 {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    color: black;
}

.space-bot-icons .col-sm-12 {
    padding-right: 0px;
    padding-left: 10px;
}

.backflip1 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    /*top: 40px;*/
    top: 55px;
    /*width: 260px;*/
    width: 300px;
    left: 15px;
}

.backflip2 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    top: 40px;
    width: 260px;
    left: 15px;
}

.backflip3 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    top: 40px;
    /*width: 260px;*/
    width: 300px;
    left: 15px;
}


.backflip4 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    /*top: 40px;*/
    top: 50px;
    /*width: 260px;*/
    width: 300px;
    left: 15px;
}

.backflip5 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    /*top: 40px;*/
    top: 60px;
    width: 260px;
    left: 15px;
}

.backflip6 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    /*top: 40px;*/
    top: 70px;
    width: 260px;
    left: 15px;
}

.backflip7 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    top: 40px;
    width: 260px;
    left: 15px;
}

.backflip8 .feature__body p {
    font-size: 16pt;
    color: #4B4C4C;
    line-height: 8mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 400 !important;
    /*text-align: center;*/
    text-align: left;
    position: relative;
    /*top: 40px;*/
    top: 55px;
    width: 260px;
    left: 15px;
}