.same-height-brand {
    height: 450px;
    padding: 60px;
}

.image img {
    margin: 0 auto;
    margin: 50px;
    margin-top: 60px;
}
.text-middle.same-height {
    background-color: gainsboro;
}

.bg-image-brand {
    background-image: url('http://ec2-18-205-16-231.compute-1.amazonaws.com/sites/default/files/images/blogliberty9_0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bar-brand-container {
	width: 125px;
	height: 570px;
	position: relative;
	top: -160px;
	left: -60px;
	z-index: 2;
	clear: both;
}

.bar-brand-wrapper {
    width: 100%;
    height: 550px;
}

.bar-brand-1 {
    background-color: #702673;
    height: inherit;
    width: 36px;
    float:left;
}

.bar-brand-2 {
    background-color: #BD1521;
    height: inherit;
    width: 5px;
    float: left;
}

.bar-brand-3 {
    background-color: #F9B234;
    height: inherit;
    width: 16px;
    float: left;
}

.bar-brand-4 {
    background-color: #283583;
    height: inherit;
    width: 17px;
    float: left;
}

.bar-brand-5 {
    background-color: #EA5B0B;
    height: inherit;
    width: 12px;
    float: left;
}

.bar-brand-6 {
    background-color: #575757;
    height: inherit;
    width: 15px;
    float: left;
}

.bar-brand-7 {
    background-color: #59A332;
    height: inherit;
    width: 23px;
    float: left;
}