/*******************     Secondary navigation - Top bar      ***************************/
.top-bar{
    width: 100%;
    height: 25px;
}
.elements-top {
    width: 765px;
    height: 40px;
    float: right;
    border-bottom: 1px solid rgba(112,112,112,0.2);
}

.elements-top i {
    font-size: 14px;
    color:#808080;
    margin-right: 15px;
}

.elements-top a{
    color:#808080;
    text-decoration: none;
    letter-spacing: -0.13px;
    font-family: Arial;
}

.menu-info a {
    margin-left: 5px;
    font-family: Arial;
    letter-spacing: -0.13px;
    color: #808080;
    opacity: 1;
    font-size: 13px;
    font-weight: 400;
}

.separator {
    border-right: 1px solid #707070;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 6px;
    opacity: 0.2;
}

.separator-left {
    padding-right: 0px;
    padding-left: 0px;
}

i.fa.fa-linkedin {
    margin-right: 0px;
}


/*******************     Main Menu      ***************************/
ul.menu-horizontal {
    margin-top: 10px;
}

/*******************     Mega menu*/

#block-libertyactualmenu {
    overflow: visible!important;
}

.space-level{
    margin-left: 15px;
}

.we-mega-menu-submenu>.we-mega-menu-submenu-inner {
    min-height: 5.25rem;
}

.navbar {
    border: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.submenu-dropdown-1{
    left: -638px;

}

.submenu-dropdown-2 {
    left: -772px;

}

.submenu-dropdown-3 {
    left: -790px;

}
.submenu-dropdown-4 {
    left: -905px;

}
.submenu-dropdown-5 {
    left: -985px;

}

.we-mega-menu-ul > .we-mega-menu-li > span,
.we-mega-menu-ul > .we-mega-menu-li > a  {
	letter-spacing: 0.21px;
	color: #333333;
	font-size: 12px;
}

/* .we-mega-menu-ul>.dropdown-menu {
    z-index: 0;
} */


.submenu-dropdown-1,
.submenu-dropdown-2,
.submenu-dropdown-3,
.submenu-dropdown-4,
.submenu-dropdown-5{
    display: none;
}

/* .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>a, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>span {
    padding-right: 0;
} */

.we-mega-menu-ul > .we-mega-menu-li > span {
	background-color: transparent;
}

.we-mega-menu-ul > .we-mega-menu-li {
	border-left: none;
}

/*******************     Logo      ***************************/
.bar .logo {
    top: 0px;
}
.bar .logo {
    max-height: 125px;
}

.bar--transparent:not(.bar--dark) .logo-dark {
	display: block!important;
}

.logo.logo-light {
    display: none !important;
}

/*******************     Barra de navegación      ***************************/
.bar.bar--sm {
    background-color: white;
}

.align-menu-content{
    top: 10px;
}

#block-libertyactualmenu .block-inner{
    top: 10px;
    position: relative;
}

.we-mega-menu-ul > .we-mega-menu-li > a {
	background-color: transparent;
}

.we-mega-menu-ul > .dropdown-menu:hover > a, .we-mega-menu-ul > .dropdown-menu:hover > span, .we-mega-menu-ul > .dropdown-menu:focus > a, .we-mega-menu-ul > .dropdown-menu:focus > span {
	background: transparent;
    color: #333;
}

/*******************     Search section      ***************************/
.region.region-search-section {
    top: 42px;
    position: relative;
}

.region.region-search-section .fa.fa-search {
    color:#808080;
}

/*******************     HOME      ***************************/
.title-h2{
    font-size: 44px;
    color: #333;
}
.subtitle-h2{
    font-size: 40px;
    color: #333;
}
.subtitle-h3{
    color: #f26522;
    letter-spacing: -0.55px;
    font-size:22px;
}
.des-h3{
    font-size: 22px;
    color: #808080;
}
.des-p{
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #808080;
}
.link-p{
    color:#333;
    font-size: 18px;
}
.interesting-links-row{
    padding-bottom: 1.429em !important;
}
.bg--orange{
    background-color: #EA5B0B;
}
.pos-vertical-center{
    top: 75% !important;
}
.pos-vertical-center .block{
    text-transform: uppercase;
}
.feature-7 .background-image-holder {
  border-radius: 0px !important;
}
.bg--secondary{
    background: #fff !important;
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}
.lll-column{
    padding-top: 50px;
}
section.border--bottom:not([data-gradient-bg]) {
	border-bottom: 0px solid #333333 !important;
	background: #333333;
}
.boton-stock {
	border-color: #F26522 !important;
	background-color: #F26522;
	border-radius: 3px !important;
}
.boton-stock span{
    color: #fff !important;
}
section .slider[data-paging="true"] .flickity-page-dots {
    bottom: 3.857em !important;
}
.flickity-page-dots .dot {
    width: 12px !important;
    height: 12px !important;
}
.flickity-prev-next-button {
    background: #F26522 !important;
    height: 2.571em !important;
    border-radius: 50% !important;
    margin: 20px !important;
}
.flickity-prev-next-button:before {
    font-size: 1.8em !important;
}
.principal-slider {
	padding-bottom: 0em !important;
	margin-bottom: -52px !important;
}

/******************************** INVESTORS *****************************/
.secondary-slider{
    padding-bottom: 0em !important;
    margin-bottom: 0em !important;
}
.investors-p{
    padding-bottom: 2.429em !important;
}
.inv-subtitle-h2{
    font-size: 28px;
    color: #333;
}
.des-h3 strong{
    font-weight:600 !important;
}
.related-links-col{
    padding-bottom: 0px !important;
}
.title-arrow {
	border-radius: 50%;
	background-color: #f26522;
	height: 40px;
	width: 40px;
	padding-top: 5px;
}
.financials-table th {
    background-color: #F26522;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.45px;
    border-bottom: 1px solid white;
}

.financials-table td {
    font-size: 15px;
    color: #808080;
    letter-spacing: -0.2px;
    font-weight: 500;
}

tr:nth-child(2n+1) {
	background-color: #F2F2F2;
}
.col-md-12.financials-table {
	padding: 0px;
}

.financials-table th, .financials-table td {
    padding: 10px;
}

/************  Tables General  *****************/

/* Filter */

.tables-liberty .control-label {
    font-size: 14px;
    color: #808080;
    font-family: "Open Sans";
    letter-spacing: 0.2px;
}

.tables-liberty .btn-info {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: #F26522 !important;
    border-color: #F26522 !important;
    border-radius: 3px !important;
}

.tables-liberty input[type], textarea, select {
    -webkit-appearance: none;
    background: white;
    padding: 0.46428571em;
        padding-left: 0.464286em;
    border-radius: 0px;
    border: 1px solid #ececec;
    margin-right: 20px;
}

.tables-liberty .form-control{
    height: 30px;
}

/********* End Filter ********/

/* Tables liberty*/

.tables-liberty th, .tables-liberty td {
    padding: 10px;
}
.tables-liberty .views-field {
    border: none !important;
    line-height: 30px !important;
}

.tables-liberty .views-field-title {
	color: #F26522 !important;
	font-size: 16px !important;
	letter-spacing: -0.4px;
	font-weight: 400 !important;
    font-family: Open Sans;
    width: 50%;
}

.tables-liberty a {
    color: #f26522;
    font-weight: 400;
    text-decoration: none;
}

.tables-liberty .text-center {
    text-align: left;
}

.select-wrapper::after {
    visibility: hidden;
}

.tables-liberty select {
    height: 36px!important;
    -webkit-appearance: none;
    background: white;
    padding: 5px;
    padding-left: 0.464286em;
    padding-left: 0.464286em;
    border-radius: 0px;
    border: 1px solid #ececec;
    margin-right: 15px;
}

.views-field-field-sec-xml-image img,
.views-field-field-sec-xls-image img {
    display: none;
}

.views-field-field-sec-xml-image a img,
.views-field-field-sec-xls-image a img {
    display: block;
}

/****** Heading ******************/

.tables-liberty table th {
	background-color: #F26522;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1px;
	font-size: 14px;
	padding: 10px;
}

/********* End Heading ********/

/**************** Pagination  ****************/
.tables-liberty .pagination > .active > a{
    background-color: #f26522; 
    border-color: #f26522;
    color:white;
}

.tables-liberty .pagination > li > a{
    color:#f26522;
}


/************ End Pagination *********/

.tables-liberty.sec-filings .views-field a img {
    margin-top: 5px;
}

/*********** End SED FILINGS **********/

.related-links-img {
	padding-bottom: 12em !important;
}

.we-mega-menu-submenu li.we-mega-menu-li.active > a, .we-mega-menu-submenu li.we-mega-menu-li.active > a:hover,
.we-mega-menu-submenu li.we-mega-menu-li.active > .we-megamenu-nolink {
    color: #f26522;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/******************************** ABOUT US *****************************/
.feature-1 {
    min-height: 16.543em !important;
    text-align: center;
    align-items: center;
    display: grid;
}
.modal-instance.block {
    width: 100%;
    text-align: center;
}
.title-arrow {
    margin: 0 auto;
}
.h1.h1--large:not(:last-child) {
	margin-bottom: 0.119354838709677em !important;
}

.about-lla{
    padding-bottom: 3.429em !important;
}
.feature-1 .h1.h1--large {
	color: #f26522 !important;
}
.about-div {
	padding-bottom: 3.429em !important;
}
/************ our company ************/
.list-inline--images img {
    max-height: 210px !important;
}
.list-inline--images li:not(:last-child) {
    margin-right: 0em !important;
}
/****** C&W COMMUNICATIONS *******/
.footnotes.des-p {
	margin-bottom: 10px !important;
}
a:hover {
	color: #f26522 !important;
}
.link-about{
    color: #f26522 !important;
}
.cw-key-facts .list-inline--images img{
    max-height: 140px !important;
}
.fa-caret-right{
    color: #f26522 !important;
    font-size:20px !important;

}
/************ Corporate Governance ************/
.tab__content {
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #808080;
}
.tabs li.active .tab__title span {
    color: #f26522;
}
.tab__content ul li::before {
	content: "\2022";
	color: #f26522;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	font-size: 20px !important;
}
.list-a{
    list-style-type:lower-alpha !important;
}
.about-lla1{
    padding-bottom: 0.429em !important;
}
.tab__content1 ul li::before {
	content: "\2022";
	color: #f26522;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	font-size: 20px !important;
}
.small-tabs .tabs li.active {
    background-color: #f26522 !important;
    border-color: #f26522 !important;
}
.small-tabs .tabs li.active .tab__title span {
    color: #fff !important;
}
/************ Executive Team and Directors ************/
.feature-8 img {
    border-radius: 50% !important;
}
.feature-8 {
	padding: 2.786em 0 3.714em 0 !important;
	border: 1px solid #ececeb !important;
	border-radius: 6px !important;
}
.lla-team{
    padding-top: 15px;
    padding-bottom: 15px;
}
/************ Video Gallery ************/
.video-play-icon:hover {
	border: 2px solid #f26522;
	background: #f26522;
	transition-duration: .3s;
}
.about-lla2{
    padding-top: 3.429em !important;
}
/************ Contact Us ************/
.asterisk-lla {
	color: #f26522;
	font-weight: 900 !important;
}
/*******************     Footer      ***************************/
footer{
    background-color:#333333;
    padding-top: 50px;
    padding-bottom: 25px;
}

.description-footer h4{
    color: white;
    font-size: 13px;
    font-weight: 600!important;
    text-transform: uppercase;
    letter-spacing: 0;
}

.description-footer p{
    line-height: 24px;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    opacity: 1;
}
[class*='bg-']:not(.bg--white):not(.bg--secondary) p, [class*='imagebg']:not(.image--light) p{
    opacity: 0.6;
}
.social-footer h4{
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
}

.social-footer{
    padding-top: 30px;
    clear: both;
}

.social-icons-footer a i {
    background-color: #808080;
    color: white;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    margin-right: 8px;
}

.social-icons-footer a i:before{
    top: 7px;
    position: relative;
}

.description-footer ul li {
    line-height: 24px;
    font-family: "Open Sans";
    font-size: 12px;
}

.description-footer ul li a {
    color: rgba(255,255,255,0.6)!important;
}

.space-between-columns{
    padding-left: 60px;
}

.logo-position{
    padding-left: 0px;
}

/****************************   Copyright   ************************************/
.copyright{
    border-top:1px solid rgba(255,255,255,0.1);
    clear: both;
}

.spacer{
    height:50px;
    clear:both;
}

.text-copyright,
.menu-copyright-space{
   padding-top: 20px;
}

.text-copyright p{
    text-align: left;
    font-weight: 300;
    font-size:12px;
    font-family: "Open Sans";
    color:white;
}

.menu-copyright li a{ 
    text-align: left;
    font-weight: 300;
    font-size:12px;
    font-family: "Open Sans";
    color:white!important;
    float: left;
    margin-right: 20px;
}

.menu-copyright{
    float: right;
    width: 320px;
}

#block-columna1.clearfix {
    overflow: visible;
}

/******************* USER LOGIN *************************/

#user-login-form {
    padding-bottom: 120px;
}

#user-login-form button#edit-submit, 
#user-login-form button#edit-subscribe {
    background: #F26522;
    border-color: #F26522;
    text-transform: uppercase;
    color: #fff;
}

/*Responsive*/


/*********************** 768 *************************/
@media only screen and (max-width: 768px) {

    .logo-position,
    .social-footer{
       padding-right: 15px;
       padding-left: 15px;
    }

    .social-icons-footer{
        padding-left: 0px;
     }

    .space-between-columns {
        padding-top: 50px;
        padding-left: 15px;
    }
   

}


