/************* Tipografia Tempor********************/
/*Helvetica Ultra Light*/
@font-face {
    font-family: "Helvetica Neue LT Com"; 
    src: url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.eot"); 
    src: url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.woff") format("woff"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/81d87eba2f25b790803c324963f02063.svg#Helvetica Neue LT Com") format("svg"); 
} 
/*Helvetica Light*/
@font-face {
    font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot"); 
    src: url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue") format("svg"); 
}



/*******************     Secondary navigation - Top bar      ***************************/
.top-bar{
    width: 100%;
    height: 25px;
}
.elements-top {
    width: 1055px;
    height: 20px;
    float: right;
}
#block-topmenuiconosyredessociales{
    overflow: initial;
}

.social-icons-top i {
    font-size: 20px;
    color: white;
    margin-right: 7px;
    background-color: #DADADA;
    padding: 5px;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.social-icons-top a:hover i {
    background-color: #575756;
}

.social-icons-footer-new i {
    font-size: 20px;
    color: white;
    margin-right: 7px;
    background-color: #878787;
    padding: 5px;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.social-icons-footer-new a:hover i {
    background-color: #DADADA;
    color: #575756;
}


.elements-top a{
    color:#808080;
    text-decoration: none;
    letter-spacing: -0.13px;
    font-family: Arial;
}
.menu-info{
    left: 50px;
}

.menu-info a {
    margin-left: 5px;
    font-family: 'Helvetica Neue' !important;
    letter-spacing: -0.13px;
    color: #808080;
    opacity: 1;
    font-size: 13px;
    font-weight: 400;
}

.separator {
    border-right: 1px solid #707070;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 6px;
    opacity: 0.2;
}

.separator-left {
    padding-right: 0px;
    padding-left: 0px;
}

i.fa.fa-linkedin {
    margin-right: 0px;
}


/*******************     Main Menu      ***************************/
ul.menu-horizontal {
    margin-top: 10px;
}

/*******************     Mega menu*/

#block-libertyactualmenu {
    overflow: visible!important;
}

.space-level{
    margin-left: 15px;
}

.we-mega-menu-submenu>.we-mega-menu-submenu-inner {
    min-height: 5.25rem;
}

.navbar {
    border: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.submenu-dropdown-1{
    left: -442px;
}

.submenu-dropdown-2 {
    left: -630px;

}

.submenu-dropdown-3 {
    left: -790px;

}
.submenu-dropdown-4 {
    left: -905px;

}
.submenu-dropdown-5 {
    left: -985px;

}

.we-mega-menu-ul > .we-mega-menu-li > span, .we-mega-menu-ul > .we-mega-menu-li > a {
	letter-spacing: 1px;
	color: #575756;
	font-size: 21px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
}


.we-mega-menu-li a,
.we-megamenu-nolink.is-active,
.we-mega-menu-li.dropdown-menu span {
    padding-right: 0px !important;
    margin-left: 30px;
    padding-left: 0px !important;
}
 .we-mega-menu-ul>.dropdown-menu {
    z-index: 0;
} 
.we-mega-menu-ul .dropdown-menu > span::before{
    display: none;
}

.we-mega-menu-ul > .we-mega-menu-li::after {
	content: '|';
	position: relative;
	right: -10px;
	top: 32%;
	margin-top: -.3125rem;
	width: .6875rem;
	height: .6875rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: initial;
}

.we-mega-menu-li:last-child::after {
    display: none;
}

.submenu-dropdown-1,
.submenu-dropdown-2,
.submenu-dropdown-3,
.submenu-dropdown-4,
.submenu-dropdown-5{
    display: none;
}

/* .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>a, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu>span {
    padding-right: 0;
} */

.we-mega-menu-ul > .we-mega-menu-li > span {
	background-color: transparent;
}

.we-mega-menu-ul > .we-mega-menu-li {
	border-left: none;
}

.we-mega-menu-ul > .we-mega-menu-li.active > a, 
.we-mega-menu-ul > .we-mega-menu-li.active > a:hover, 
.we-mega-menu-ul > .we-mega-menu-li.active > a:focus, 
.we-mega-menu-ul > .we-mega-menu-li.active-trail > a, 
.we-mega-menu-ul > .we-mega-menu-li.active-trail > a:hover, 
.we-mega-menu-ul > .we-mega-menu-li.active-trail > a:focus {
	background-color: transparent;
	color: #FF4100;
}

.bar.bar--sm {
	padding-top: 0px;
}


/*******************     Logo      ***************************/
.bar .logo {
    top: 5px;
}
.bar .logo {
    max-height: 125px;
}

.bar--transparent:not(.bar--dark) .logo-dark {
	display: block!important;
}

.logo.logo-light {
    display: none !important;
}

/*******************     Barra de navegación      ***************************/
.bar.bar--sm {
    background-color: white;
}

.align-menu-content{
    top: 15px;
}

#block-libertyactualmenu .block-inner{
    top: -4px;
    position: relative;
}

.liberty-m.navbar {
    margin-bottom: 0px;
}
.we-mega-menu-ul > .we-mega-menu-li > a {
	background-color: transparent;
}

.we-mega-menu-ul > .dropdown-menu:hover > a, .we-mega-menu-ul > .dropdown-menu:hover > span, .we-mega-menu-ul > .dropdown-menu:focus > a, .we-mega-menu-ul > .dropdown-menu:focus > span {
	background: transparent;
    color: #333;
}

.we-mega-menu-ul > .we-mega-menu-li > a:hover, .we-mega-menu-ul > .we-mega-menu-li > a:focus{
    background: transparent;
}

.elements-top .menu-info a:hover {
	color: white !important;
}

.recent-news {
    background-color: #82368C;
    color: white !important;
    padding: 8px;
    font-size: 14px !important;
    border-radius: 5px;
    font-weight: 300 !important;
}

.request {
    background-color: #BE1622;
    color: white !important; 
    padding: 8px;
    font-size: 14px !important;
    border-radius: 5px;
    font-weight: 300 !important;
}

.alerts {
	background-color: #E7332A;
	color: white !important;
	padding: 8px;
	font-size: 14px !important;
	border-radius: 5px;
	font-weight: 300 !important;
}

.stock {
	background-color: #EA5B0C;
	color: white !important;
	padding: 8px;
	font-size: 12px !important;
	border-radius: 5px;
	font-weight: 300 !important;
}


.recent-news:hover{
color:white;
}


.search-container input[type="text"] {
    padding-left: 30px;
    font-size: 12px;
    background-color: #DADADA;
    text-transform: uppercase;
    height:32px;
}
.search-container button {
	position: relative;
	top: -44px;
	width: 30px !important;
	border: none;
	left: -200px;
	height: 30px;
}
.search-container .fa.fa-search {
    color: white;
}

.search-container {
    position: relative;
    top: -2px;
    left: 40px;
}

::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}


/*******************     Search section      ***************************/
.region.region-search-section {
    top: 36px;
    position: relative;
}

.region.region-search-section .fa.fa-search {
    color:#808080;
}

/************************ Title banner ***********************************/

/* .container.pos-vertical-center .field {
    position: relative;
    text-align: center;
    top: 300px;
} */


/************************************************************************/


/******************* SECCIÓN DE INFO BAR ******************************/

.paragraph.paragraph--type--info-bar{
	border-bottom: 0px solid #575756 !important;
	background: #575756;
	border-top: 8px solid #EA5B0B;
        padding-top: 1.85714286em;
        padding-bottom: 1.85714286em;
}

.paragraph.paragraph--type--info-bar .paragraph__column{
  padding-bottom: 0px;
}

/**********************************************************************/

/*******************     HOME      ***************************/
body {
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Helvetica Neue LT Com'!important;
}

h5,
.h5 {
  font-weight: 500 !important;
}
.imagebg:not(.image--light) a {
    font-weight: 500 !important;
}
.des-p {
    font-family: 'Helvetica Neue LT Com'!important;
}
.title-h2-main {
    font-family: "Helvetica Neue LT Com";
    color: #575756;
    font-size: 82px !important;
    line-height: 84px;
    margin-bottom: 40px!important;
}
.title-h2 {
    font-size: 110px !important;
    color: #EA5B0B;
    letter-spacing: 0px;
    font-weight: 300;
    font-family: "Helvetica Neue LT Com";
}

.subtitle-h2{
    font-size: 40px;
    color: #333;
}
.subtitle-h3 {
	font-size: 28px;
	font-family: "Helvetica Neue LT Com" !important;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0.5px;
	color: #EA5B0B;
}
.icons-h3 {
	font-size: 22px;
    font-family: "Helvetica Neue" !important;
    margin-top: 25px !important;
    letter-spacing: -0.5px;
}

.icons-h3 a {
    letter-spacing: -0.5px;
    color: #a5a3a3;
    font-weight: 300!important;
}


.icons-h3.hi1 a:hover {
	color: #ea5b0b !important;
}
.icons-h3.hi2 a:hover {
	color: #D90019 !important;
}
.icons-h3.hi3 a:hover {
	color: #FF1926 !important;
}
.icons-h3.hi4 a:hover {
	color: #333333 !important;
}
.icons-h3.hi5 a:hover {
	color: #831F82 !important;
}
.iconos-title:hover {
	text-decoration: none;
}
.des-h3 {
    font-size: 22px;
    color: #808080;
    letter-spacing: 0.5px;
    line-height: 32px;
    font-family: 'Helvetica Neue' !important;
}
.imagebg:not(.image--light) h4{
    font-family: 'Helvetica Neue' !important;
}
.des-p{
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #333;
}
.link-p{
    color:#333;
    font-size: 18px;
    font-family: "Helvetica Neue LT Com"; 
}
.boton-stock span {
    font-family: "Helvetica Neue"; 
    font-size: 11px !important;
}
.interesting-links-row{
    padding-top: 40px;
    padding-bottom: 1.429em !important;
}

.quick-links {
    font-weight: 600;
    color: #575756;
    font-size: 44px !important;
    line-height: 84px;
    letter-spacing: 0.5px;
}

.bg--orange{
    background-color: #EA5B0B;
}
.bg--gray{
    background-color: #808080;
}
.pos-vertical-center{
    top: 75% !important;
}
.pos-vertical-center .block{
    text-transform: uppercase;
}
.feature-7 .background-image-holder {
  border-radius: 0px !important;
}
.bg--secondary{
    background: #fff !important;
    padding-top: 0px !important;
    padding-bottom: 120px !important;
}
.lll-column{
    padding-top: 50px;
}
section.border--bottom:not([data-gradient-bg]) {
    border-bottom: 0px solid #343434 !important;
    background: #343434;
    border-top: 8px solid #E8471E;
}

.boton-stock {
	border-color: #FF4100 !important;
	background-color: #FF4100;
    border-radius: 3px !important;
    font-family: "Helvetica Neue"; 
}
.boton-stock span{
    color: #fff !important;
}
section .slider[data-paging="true"] .flickity-page-dots {
    bottom: 3.857em !important;
}
.flickity-page-dots .dot {
    width: 12px !important;
    height: 12px !important;
}
.flickity-prev-next-button {
    background: #575756 !important;
    height: 2.571em !important;
    border-radius: 50% !important;
    margin: 20px !important;
    top: 103.9% !important;
}
.flickity-prev-next-button:before {
    font-size: 1.8em !important;
}
.flickity-prev-next-button.previous::before {
    content: "\e807" !important;
}
.flickity-prev-next-button::before{
    content: "\e808" !important;
}
.principal-slider {
	padding-bottom: 0em !important;
	margin-bottom: -54px !important;
}
.flickity-page-dots {
    text-align: right !important;
    padding-right: 6% !important;
}
.flickity-prev-next-button.next {
    right: 0% !important;
}
.flickity-prev-next-button.previous {
    right: 2% !important;
    left: auto !important;
}
section:not(.image--light) .slider[data-paging="true"] .flickity-page-dots .dot {
	background: transparent !important;
    border: 1px solid #fff;
    opacity: 1 !important;
}
.flickity-page-dots .dot.is-selected {
    border: 1px solid #ff4100 !important;
}
.slider[data-paging="true"]:not(section) .flickity-page-dots {
    bottom: -3.8em !important;
}
.btn--primary:hover {
	background: #FF4100 !important;
	border: 1px solid #FF4100 !important;
}
.btn--primary {
	background: #575756 !important;
    border: 1px solid #575756 !important;
    color: #ffffff;
	font-family: "Helvetica Neue";
	letter-spacing: 0.5px;
}
.btn--primary .btn__text, .btn--primary:visited .btn__text {
    color: #fff;
    font-weight: 500 !important;
    font-size: 16px !important;
    letter-spacing: 0.5px;
}



.field .btn.btn--primary {
	padding:5px 10px;
}

/******************************** HOME ARTICLE *****************************/

.page-node-type-full-page .field.field--name-field-tags.field--type-entity-reference.field--label-above,
.page-node-type-full-page .field.field--name-field-tags.field--type-entity-reference.field--label-hidden.field--items,
.page-node-type-full-page .text-article,
.page-node-type-full-page .comment-comments.last,
.page-node-type-full-page .comment-add,
article .article__body img  {
    display: none;
}

.page-node-type-full-page .container.full-expand {
    height: 540px;
    overflow: hidden;
}

.page-node-type-full-page .desktop-view article section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #B3B2B2;
}

.page-node-type-full-page .paragraph--id--1821 .paragraph__column {
    padding: 0 !important;
}

.page-node-type-full-page .no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.page-node-type-full-page .image-selector .field {
    margin-bottom: 0px;
}

.page-node-type-full-page .article__body {
	width: 580px;
	padding-right: 15px;
	padding-top: 60px;
}

.page-node-type-full-page .article__body h2{
    font-size: 36px;
    color: #fff !important;
    letter-spacing: 0.5px !important;
    font-family: "Helvetica Neue LT Com";
 }

 .page-node-type-full-page .article__body p{
    font-size: 26px;
    color: #fff !important;
    font-family: "Helvetica Neue";
    font-weight: 300;
    letter-spacing: 0px;
 }

.page-node-type-full-page .node-readmore a {
    color: #585857;
    font-family: "Helvetica Neue LT Com";
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 24px;
}

#copyright .menu-copyright-space li{
    float: left;
    margin-left: 30px;
    color: white!important; 
}

#copyright .menu-copyright-space li a{
    text-align: left;
    font-weight: 300;
    color: rgba(255,255,255,0.6) !important;
    font-family: 'Helvetica Neue LT Com' !important;
    letter-spacing: 0.5px;
    font-size: 16px;
}


.page-node-type-full-page .comment-comments {
    display: none !important;
}

.page-node-type-full-page .comment-forbidden {
    display: none !important;
}

/*New Home icon configuration*/

/*Icon 1*/
.home-icons.homeicon1 {
	height: 240px;
	width: 240px;
	background: url('/sites/default/files/2020-04/circulo1.png');
	background-size: cover;
}

.link-circle-1:hover .home-icons.homeicon1 {
	background: url('/sites/default/files/2020-04/circulocolor1.png');
	height: 240px;
	width: 240px;
	background-size: cover;
}

/*Icon 2*/
.home-icons.homeicon2 {
	height: 240px;
	width: 240px;
	background: url('/sites/default/files/2020-04/circulo2.png');
    background-size: contain;
    background-repeat:no-repeat;
}

.link-circle-2:hover .home-icons.homeicon2 {
	background: url('/sites/default/files/2020-04/circulocolor2.png');
	height: 240px;
	width: 240px;
    background-size: contain;
    background-repeat:no-repeat;
}

/*Icon 3*/
.home-icons.homeicon3 {
	height: 240px;
	width: 240px;
	background: url('/sites/default/files/2020-04/circulo3.png');
    background-size: contain;
    background-repeat:no-repeat;
}

.link-circle-3:hover .home-icons.homeicon3 {
	background: url('/sites/default/files/2020-04/circulocolor3.png');
	height: 240px;
	width: 240px;
    background-size: contain;
    background-repeat:no-repeat;
}
/*Icon 4*/
.home-icons.homeicon4 {
	height: 240px;
	width: 240px;
	background: url('/sites/default/files/2020-04/circulo4.png');
    background-size: contain;
    background-repeat:no-repeat;
}

.link-circle-4:hover .home-icons.homeicon4 {
	background: url('/sites/default/files/2020-04/circulocolor4.png');
	height: 240px;
	width: 240px;
    background-size: contain;
    background-repeat:no-repeat;
}

/*Icon 5*/
.home-icons.homeicon5 {
	height: 240px;
	width: 240px;
	background: url('/sites/default/files/2020-04/circulo5.png');
    background-size: contain;
    background-repeat:no-repeat;
}

.link-circle-5:hover .home-icons.homeicon5 {
	background: url('/sites/default/files/2020-04/circulocolor5.png');
	height: 240px;
	width: 240px;
    background-size: contain;
    background-repeat:no-repeat;
}

.link-circle-2 {
    position: relative;
    left: -7px;
    top: 0px;
}

.link-circle-3 {
    position: relative;
    left: -14px;
    top: 30px;
}

.link-circle-4 {
    position: relative;
    left: -21px;
    top: -2px;
}

.link-circle-5 {
    position: relative;
    left: -28px;
    top: -2px;
}




.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}

.page-node-type-full-page .imageblock__content.col-lg-6.col-md-8.pos-right {
    left: auto;
     position: absolute;
     height: 100%;
     top: 0;
     z-index: 2;
     padding-right: 0px;
     padding-left: 40px;
 }   
 /*Background image article*/
 .page-node-type-full-page .field.field--name-field-image.field--type-image.field--label-hidden.field--item div {
     height: 550px; 
     background-size: cover;
     background-repeat: no-repeat;
 }

/******************************** INVESTORS *****************************/
.secondary-slider{
    padding-bottom: 0em !important;
    margin-bottom: 0em !important;
}
.investors-p{
    padding-bottom: 2.429em !important;
}
.inv-subtitle-h2{
    font-size: 28px;
    color: #333;
    letter-spacing: -1px;
}
.des-h3 strong{
    font-weight:500 !important;
}
.related-links-col{
    padding-bottom: 0px !important;
}
.title-arrow {
	border-radius: 50%;
	background-color: #FF4100;
	height: 40px;
	width: 40px;
	padding-top: 5px;
}
.financials-table th {
    background-color: #ea5b0b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.45px;
    border-bottom: 1px solid white;
    font-family: "Helvetica Neue LT Com"; 
}

.financials-table td {
    font-size: 15px;
    color: #333333;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-family: "Helvetica Neue LT Com"; 
}

tr:nth-child(2n+1) {
	background-color: #feeee8;
}
.col-md-12.financials-table {
	padding: 0px;
}

.financials-table th, .financials-table td {
    padding: 10px;
}

/************  Tables General  *****************/

/* Filter */

.tables-liberty .control-label {
    font-size: 14px;
    color: #333333;
    font-family: "Helvetica Neue LT Com"; 
    letter-spacing: 0.2px;
}

.tables-liberty .btn-info {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: #FF4100 !important;
    border-color: #FF4100 !important;
    border-radius: 3px !important;
}

.tables-liberty input[type], textarea, select {
    -webkit-appearance: none;
    background: white;
    padding: 0.46428571em;
        padding-left: 0.464286em;
    border-radius: 0px;
    border: 1px solid #ececec;
    margin-right: 20px;
}

.tables-liberty .form-control{
    height: 30px;
}

/********* End Filter ********/

/* Tables liberty*/

.tables-liberty th, .tables-liberty td {
    padding: 10px;
}
.tables-liberty .views-field {
    /*border: none !important;*/
    border-right: 1px dotted #ddd;
    line-height: 30px !important;
    font-family: "Helvetica Neue LT Com"; 
}

.tables-liberty .views-field-title {
	color: #FF4100 !important;
	font-size: 16px !important;
	letter-spacing: -0.4px;
	font-weight: 400 !important;
    font-family: 'Open Sans';
    width: 50%;
}
.views-field.views-field-field-liberty-calendar {
	border-right: none !important;
}

.views-field.views-field-field-sec-xml-image {
	border-right: none !important;
}

.views-field.views-field-field-fixed-income-document-imag {
	border-right: none !important;
}

.views-field.views-field-field-regulation-image {
	border-right: none !important;
}

.views-field.views-field-field-news-date {
	border-right: none !important;
}

.table-hover > tbody > tr:hover {
	background-color: #feeee8 !important;
}

.tables-liberty a {
    color: #FF4100;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.tables-liberty .text-center {
    text-align: left;
}

.select-wrapper::after {
    visibility: hidden;
}

.tables-liberty select {
    height: 36px!important;
    -webkit-appearance: none;
    background: white;
    padding: 5px;
    padding-left: 0.464286em;
    padding-left: 0.464286em;
    border-radius: 0px;
    border: 1px solid #ececec;
    margin-right: 15px;
}

.views-field-field-sec-xml-image img,
.views-field-field-sec-xls-image img {
    display: none;
}

.views-field-field-sec-xml-image a img,
.views-field-field-sec-xls-image a img {
    display: block;
}

/****** Heading ******************/

.tables-liberty table th {
	background-color: #ea5b0b;
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1px;
    font-size: 14px;
    padding: 10px;
    font-family: "Helvetica Neue LT Com"; 
}

/********* End Heading ********/

/**************** Pagination  ****************/
.tables-liberty .pagination > .active > a{
    background-color: #FF4100; 
    border-color: #FF4100;
    color:white;
}

.tables-liberty .pagination > li > a{
    color:#FF4100;
}


/************ End Pagination *********/

.tables-liberty.sec-filings .views-field a img {
    margin-top: 5px;
}

/*********** End SED FILINGS **********/

.related-links-img {
	padding-bottom: 12em !important;
}

.we-mega-menu-submenu li.we-mega-menu-li.active > a, .we-mega-menu-submenu li.we-mega-menu-li.active > a:hover,
.we-mega-menu-submenu li.we-mega-menu-li.active > .we-megamenu-nolink {
    color: #f26522;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.submenu-dropdown-1 .we-mega-menu-submenu li.we-mega-menu-li a,
.submenu-dropdown-1 .we-megamenu-nolink,
.submenu-dropdown-1 .we-mega-menu-li,
.submenu-dropdown-2 .we-mega-menu-submenu li.we-mega-menu-li a,
.submenu-dropdown-2 .we-megamenu-nolink{
    font-family: 'Helvetica Neue' !important;
    letter-spacing: 0.5px;
    font-size: 14px!important;
    font-weight: 300!important;
}


/******************************** ABOUT US *****************************/
.feature-1 {
    min-height: 16.543em !important;
    text-align: center;
    align-items: center;
    display: grid;
    min-width: 19.3em !important;
}
.modal-instance.block {
    width: 100%;
    text-align: center;
}
.title-arrow {
    margin: 0 auto;
}
.h1.h1--large:not(:last-child) {
	margin-bottom: 0.119354838709677em !important;
}

.about-lla{
    padding-bottom: 3.429em !important;
}
.feature-1 .h1.h1--large {
	color: #FF4100 !important;
}
.about-div {
	padding-bottom: 3.429em !important;
}
/************ our company ************/
.list-inline--images img {
    max-height: 210px !important;
}
.list-inline--images li:not(:last-child) {
    margin-right: 0em !important;
}
/****** C&W COMMUNICATIONS *******/
.footnotes.des-p {
	margin-bottom: 10px !important;
}
a:hover {
	color: #FF4100 !important;
}
.link-about{
    color: #FF4100 !important;
}
.cw-key-facts .list-inline--images img{
    max-height: 140px !important;
}
.fa-caret-right{
    color: #FF4100 !important;
    font-size:20px !important;

}
/************ Corporate Governance ************/
.tab__content {
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #333333;
}
.tabs li.active .tab__title span {
    color: #FF4100;
}
.tab__content ul li::before {
	content: "\2022";
	color: #333333;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	font-size: 16px !important;
}
.list-a{
    list-style-type:lower-alpha !important;
}
.about-lla1{
    padding-bottom: 0.429em !important;
}
.tab__content1 ul li::before {
	content: "\2022";
	color: #333333;
	font-weight: bold;
	display: inline-block;
	width: 1em;
    font-size: 16px !important;
    margin-left: 0em !important;
}
.small-tabs .tabs li.active {
    background-color: #FF4100 !important;
    border-color: #FF4100 !important;
}
.small-tabs .tabs li.active .tab__title span {
    color: #fff !important;
}
.epr-caption {
	color: #333;
}
/************ Executive Team and Directors ************/
.feature-8 img {
    border-radius: 50% !important;
}
.feature-8 {
	padding: 2.786em 0 3.714em 0 !important;
	border: 1px solid #ececeb !important;
	border-radius: 6px !important;
}
.lla-team{
    padding-top: 15px;
    padding-bottom: 15px;
}
.switchable__text span {
	font-family: 'Helvetica Neue', sans-serif;
}
.modal-instance span {
	font-family: 'Helvetica Neue', sans-serif;
}
.lla-team span {
	font-family: 'Helvetica Neue', sans-serif;
}
/************ Suppliers ************/
.tab__content2 ul li::before {
	content: "\2022";
	color: #FF4100;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	font-size: 16px !important;
	margin-left: 0em !important;
}
.tab__content1 ul .linked::before {
	color: #FF4100 !important;
}
/************ Video Gallery ************/
.video-play-icon:hover {
	border: 2px solid #FF4100;
	background: #FF4100;
	transition-duration: .3s;
}
.about-lla2{
    padding-top: 3.429em !important;
}
.video-gallery .tabs li.active .tab__title {
	color: #ffffff !important;
}
.video-gallery .tabs li.active{
    background-color: #FF4100 !important;
}
.lla-icons-tabs{
    padding-left: 25px !important;
}
.tab__content .social-list li::before {
	color: transparent;
}
.il-vg{
    margin-top: -200px !important;
}
/************ Contact Us ************/
.asterisk-lla {
	color: #f12f2f;
	font-weight: 900 !important;
}
/******/
.subtitle-span{
    color: #FF4100;
    letter-spacing: -0.55px;
    font-size:16px;
}
.accordion-1 li.active .accordion__title {
	border-color: #FF4100 !important;
}
.accordion li.active .accordion__title {
	background: #FF4100 !important;
}
.accordion-1 li .accordion__title {
	border-bottom: 1px solid #dedede !important;
}
.accordion li .accordion__title {
	border: 1px solid #dedede !important;
}

#block-sitewidecontactform button[type="submit"] {
    background: #FF4100;
    border-color: #FF4100;
}

/******************** Contact Form *************************/

#contact-message-liberty-contact-form-form .form-group {
    width: 50%;
    float: left;
}

#contact-message-liberty-contact-form-form .form-group .form-item {
    width: 95% !important;
}

#contact-message-liberty-contact-form-form #edit-actions {
    clear: both;
}

#contact-message-liberty-contact-form-form #edit-message-wrapper {
    width: 100%;
}

#contact-message-liberty-contact-form-form #edit-message-0-value {
    height: 150px;
}

#contact-message-liberty-contact-form-form #edit-message-wrapper .form-item{
    width: 98% !important;
}

/******************** End contact form ********************/ 

/*******************     Footer      ***************************/
footer{
    padding-top: 50px!important;
	padding-bottom: 25px;
	background-color: #575756;
	background-image: url('/sites/default/files/2020-04/bloom_half.png');
	background-size: contain;
        background-position:center right;
	background-repeat: no-repeat;
}

.description-footer h4{
    color: rgba(255,255,255,0.6) !important;
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.description-footer p{
    float: left;
    margin-right: 20px;
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Helvetica Neue LT Com'!important;
}
[class*='bg-']:not(.bg--white):not(.bg--secondary) p, [class*='imagebg']:not(.image--light) p{
    opacity: 0.6;
}
.social-footer h4{
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
}

.social-footer{
    padding-top: 30px;
    clear: both;
}

.social-icons-footer a i {
    background-color: #808080;
    color: white;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    margin-right: 8px;
}

.social-icons-footer a i:before{
    top: 7px;
    position: relative;
}

.description-footer ul li {
    line-height: 24px;
    font-family: "Open Sans";
    font-size: 12px;
}

.description-footer ul li a {
    color: rgba(255,255,255,0.6)!important;
}

.space-between-columns{
    padding-left: 60px;
}

.logo-position{
    padding-left: 0px;
}



/****************************   Copyright   ************************************/
.copyright{
    border-top:1px solid rgba(255,255,255,0.1);
    clear: both;
}

.spacer{
    height:35px;
    clear:both;
}

.text-copyright,
.menu-copyright-space{
   padding-top: 20px;
}

.text-copyright p{
    text-align: left;
    font-weight: 300;
    color: white;
    font-family: 'Helvetica Neue LT Com'!important;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.menu-copyright li a{ 
    float: left;
    margin-right: 20px;
    letter-spacing: 0.5px;
    color: #575756;
    font-size: 18px;
    font-family: 'Helvetica Neue LT Com'!important;
    font-weight: 300;
    text-transform: uppercase;
}

.menu-copyright li a::after{ 
    content: '|';
	position: relative;
	right: -10px;
	top: 32%;
	margin-top: -.3125rem;
	width: .6875rem;
	height: .6875rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: initial;
}

.last-item::after {
    display: none !important;
}


#block-columna1.clearfix {
    overflow: visible;
}

/********************* SITEMAP ***************************/
.sitemap-box-menu.sitemap-box-menu-liberty-m.sitemap-box h2 {
	visibility: hidden;
}

.sitemap-box-menu.sitemap-box-menu-liberty-m.sitemap-box {
    padding-bottom: 60px;
}
.sitemap-menu li a{ 
    color:#333333; 
    font-weight:400;
}

/****************** END SITEMAP *************************/



/******************* USER LOGIN *************************/

#user-login-form {
    padding-bottom: 120px;
}

#user-login-form button#edit-submit, 
#user-login-form button#edit-subscribe {
    background: #F26522;
    border-color: #F26522;
    text-transform: uppercase;
    color: #fff;
}

/*Responsive*/
/*********************** 1200 *************************/
@media (max-width: 1200px) and (min-width: 992px) {

    .page-node-type-full-page .imageblock__content.col-lg-6.col-md-8.pos-right {
        right: -20%;
     }   

}

/*********************** 1140 *************************/

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 1139px) and (min-width: 992px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/*********************** 992 *************************/
@media (max-width: 991px) and (min-width: 768px) {
    .imageblock__content.col-lg-6.col-md-8.pos-right {
        width: 400px;
    }
    .page-node-type-full-page .article__body {
        width: 400px!important;
        padding-top: 70px!important;
    }
    
    .page-node-type-full-page .article__body p {
        font-size: 18px;
    }

    .pos-right {
        right: 0px!important;
    }
    
    .page-node-type-full-page .article__body h2 {
        font-size: 28px!important;
    }

}



/*********************** 960 *************************/

@media (max-width: 767px) {
    .page-node-type-full-page .imageblock__content.col-lg-6.col-md-8.pos-right {
        width: 806px;   
        position: relative;
        padding-right: 0px;
        padding-left: 0px;
    }
    .page-node-type-full-page .article__body {
        width: 100%;
        padding-right: 0;
        padding-top: 20px;
        margin: 0 auto;
    }
    
    .page-node-type-full-page .article__body h2 {
        font-size: 28px;
    }
    
    .page-node-type-full-page .article__body p {
        font-size: 18px;
    }
}

/*********************** 768 *************************/



