
.circle1, .circle2, .circle3, .circle4, .circle5 {
    width: 170px;
    border-radius: 115px;
    height: 170px;
    background-color: #E1E1E1;
    margin: 0 auto;
        margin-bottom: 0px;
}

.circle1 {
    background-image: url('/sites/default/files/2020-07/icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 96px 70px;
    background-position: center;
    background-position-x: center;
    background-position-x: 38px;
    background-position-y: 48px;
}

.circle1.about1 {
    background-image: url('/sites/default/files/2020-07/about-icon1.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 77px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 47px;
}


.circle2.about2 {
    background-image: url('/sites/default/files/2020-07/about-icon2.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 83px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 43px;
}

.circle3.about3 {
    background-image: url('/sites/default/files/2020-07/about-icon3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 90px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 52px;
}

.circle4.about4 {
    background-image: url('/sites/default/files/2020-07/about-icon4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 36px;
}

.circle5.about5 {
    background-image: url('/sites/default/files/2020-07/about-icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 92px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 45px;
}


.circle1.culture1 {
    background-image: url('/sites/default/files/2020-07/culture-icon1.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 85px 98px;
    background-position: center;
    background-position-x: center;
    background-position-y: 33px;
    background-position-x: center;
    background-position-x: 43px;
}

.circle2.culture2 {
    background-image: url('/sites/default/files/2020-07/culture-icon2.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 100px;
    background-position: center;
    background-position-x: center;
    background-position-y: 30px;
    background-position-x: center;
    background-position-x: 36px;
}

.circle3.culture3 {
    background-image: url('/sites/default/files/2020-07/culture-icon3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 102px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 34px;
}

.circle4.culture4 {
    background-image: url('/sites/default/files/2020-07/culture-icon4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 102px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-position-x: center;
    background-position-x: 34px;
}

.circle5.culture5 {
    background-image: url('/sites/default/files/2020-07/culture-icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 120px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 26px;
}

.circle1.investors1 {
    background-image: url('/sites/default/files/2020-07/investor-icon1.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 90px 90px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 42px;
}

.circle2.investors2 {
    background-image: url('/sites/default/files/2020-07/investor-icon2.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 90px;
    background-position: center;
    background-position-x: center;
    background-position-y: 33px;
    background-position-x: center;
    background-position-x: 33px;
}

.circle3.investors3 {
    background-image: url('/sites/default/files/2020-07/investor-icon3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80px 92px;
    background-position: center;
    background-position-x: center;
    background-position-y: 36px;
    background-position-x: center;
    background-position-x: 44px;
}

.circle4.investors4 {
    background-image: url('/sites/default/files/2020-07/investor-icon4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 90px 92px;
    background-position: center;
    background-position-x: center;
    background-position-y: 35px;
    background-position-x: center;
    background-position-x: 40px;
}

.circle5.investors5 {
    background-image: url('/sites/default/files/2020-07/investor-icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 36px;
}

.circle1.newsicon1 {
    background-image: url('/sites/default/files/2020-07/news-icon1.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 36px;
}
.circle2.newsicon2 {
    background-image: url('/sites/default/files/2020-07/news-icon2.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 36px;
}
.circle3.newsicon3 {
    background-image: url('/sites/default/files/2020-07/news-icon3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 90px 82px;
    background-position: center;
    background-position-x: center;
    background-position-y: 38px;
    background-position-x: center;
    background-position-x: 46px;
}
.circle4.newsicon4 {
    background-image: url('/sites/default/files/2020-07/news-icon4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 36px;
}
.circle5.newsicon5 {
    background-image: url('/sites/default/files/2020-07/news-icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 132px 102px;
    background-position: center;
    background-position-x: center;
    background-position-y: 32px;
    background-position-x: center;
    background-position-x: 19px;
}


.circle1:hover {
    background-color: #EA5B0B;
}

.circle2 {
    background-image: url('/sites/default/files/2020-07/facts.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60px 80px;
    background-position: center;
        background-position-x: center;
    background-position-x: center;
    background-position-x: center;
    background-position-x: center;
    background-position-x: 56px;
}

.circle2:hover {
    background-color: #D90019;
}

.circle3 {
    background-image: url('/sites/default/files/2020-07/icon3.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 85px 75px;
    background-position: center;
    background-position-x: center;
    background-position-x: 40px;
    background-position-y: 42px;
}

.circle3:hover {
    background-color: #FF1926;
}

.circle4 {
    background-image: url('/sites/default/files/2020-07/icon4.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 70px 90px;
    background-position: center;
    background-position-x: center;
    background-position-x: 50px;
    background-position-y: 36px;
}

.circle4:hover {
    background-color: #333333;
}

.circle5 {
    background-image: url('/sites/default/files/2020-07/icon5.png');
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 96px 70px;
    background-position: center;
    background-position-x: center;
    background-position-x: 38px;
    background-position-y: 48px;
}

.circle5:hover {
    background-color: #831F82;
}


.circle-text p {
    font-size: 22px;
    font-family: "Helvetica Neue" !important;
    letter-spacing: -0.5px;
    color: #a5a3a3;
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

.row.circles-space .col-lg-4,
.row.circles-space .col-lg-6{
    padding-bottom: 60px;
}

.circle-mobile .field.field--name-field-tag.field--type-entity-reference.field--label-above {
    display: none;
}

.offset-md-2 {
    margin-left: 16.666667%;
}

@media (min-width: 1309px){
    .circle-mobile{
        display: none;
    }
}

@media (max-width: 1309px){
    .circle-desktop{
        display: none;
    }
}



@media (max-width: 1308px){
    .circle-mobile{
        display: block;
    }
}

@media (max-width: 992px){
    .circle-desktop{
        display: none;
    }

    .circle-mobile{
        display: block;
    }

}