.thirds-image-block__content {
    width: 33.3333333%;
    background: #163047;
    padding: 55px 40px;
    float: left;
}

.thirds-image-block__image {
    width: 66.6666666%;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
}

.thirds-image-block__content p {
    color: #fff;
}
.intro {
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 1.33333;
}