
    /****  toolbar  ****/

    .toolbar-tray-open .paragraph.paragraph--type--paragraph-block.video.paragraph--view-mode--default {
        padding-top: 0px!important;
    }


    .toolbar-tray-open #block-libertyfinalmenu {
        overflow: visible!important;
        top: -12px;
        right: 0px;
    }
    .toolbar-tray-open #block-libertyfinalmenu:hover {
        overflow: visible!important;
    }  

    .toolbar-tray-open #block-libertyfinalmenu .navbar {
        position: relative;
        right: 2%;
    }

    .toolbar-tray-open.path-frontpage .bar.pos-fixed {
        top: 80px;
    }

    .toolbar-tray-open.path-not-frontpage .bar.pos-fixed{
        position: initial;
    }


    .toolbar-tray-open.path-not-frontpage .secondary-slider.cover.imagebg .background-image-holder {
        background-position-y: 0px !important;
    }


    .toolbar-tray-open.path-not-frontpage .desktop-banner-image {
        margin-top: 0px;
    }

    .leader-bg .background-image-holder {
        background-position-y: 90px !important;
    }

    .alerts-padding,.alerts-news{
        padding-bottom: 0px;
        padding-top: 30px;
    }
    .alerts-news{
        margin-bottom: -50px;
    }

    #alerts {
        height: 660px;
    }

    .desktop-banner-image .container {
        width: 100%;
        padding: 0;
    }
    
    .desktop-banner-image {
        padding: 0;
    }

    
    .home-barritas {
        position: relative;
    }

    #my_xss_magic {
        width: 210px!important;
    }



/*Philosophy Responsive*/

.ph-1 {
    font-size: 34pt;
    color: #FF4100;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-2 {
    color: #831F82;
    font-size: 34pt;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-3 {
    font-size: 34pt;
    color: #004F9F;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-4 {
    font-size: 34pt;
    color: #50A028;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-5 {
    font-size: 34pt;
    color: #D90019;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-6 {
    font-size: 34pt;
    color: #FF4100;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-7 {
    color: #831F82;
    font-size: 34pt;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-8 {
    font-size: 34pt;
    color: #004F9F;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-9 {
    font-size: 34pt;
    color: #50A028;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-10 {
    font-size: 34pt;
    color: #FF4100;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-11{
    color: #831F82;
    font-size: 34pt;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-12{
    font-size: 34pt;
    color: #004F9F;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important; 
}

.ph-13{
    font-size: 34pt;
    color: #D90019;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-14{
    font-size: 34pt;
    color: #50A028;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-15{
    font-size: 34pt;
    color: #FF4100;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important;
}

.ph-16{
    font-size: 34pt;
    color: #004F9F;
    line-height: 14mm;
    font-family: 'Helvetica Neue' !important;
    font-weight: 300 !important; 
}


.philosophy-responsive p {
    padding: 14px;
}





    /****  end toolbar  ****/

@media (min-width: 1500px) {
    .home-size p {
        height: 820px;
    }
}


@media (min-width: 1310px) {
    .path-not-frontpage footer{
        padding-top: 10mm!important;
    }
   
}


@media (max-width: 1309px) and  (min-width: 992px){

    .path-not-frontpage footer {
        padding-top: 10mm!important;
    }
    .circle-mobile.wwa-margin-120.wwa-bg-light {
        margin-top: -120px;
    }
}
@media (min-width: 993px){
    
    .pledge-responsive,
    .philosophy-responsive{
        display: none;
    }

}

@media (max-width: 992px){
   
    .pledge-desktop,
    .philosophy-desktop{
        display: none;
    }

    .pledge-responsive,
    .philosophy-responsive{
        display: block;
    }

    .pledge-responsive {
        padding-bottom: 0px;
    }

    .pledge-responsive p{
        font-size: 16pt;
        color: #4B4C4C;
        line-height: 8mm;
        font-family: 'Helvetica Neue' !important;
        font-weight: 400 !important;
    }

    .path-not-frontpage footer{
        padding-top: 10mm!important;
    }

    .pos-vertical-center .block {
        top: 0px;
    }

    #my_xss_magic {
        position: relative;
        padding-top: 30px;
        float: right;
        width: 350px;
        height: 30px;
        top: 0px;
        height: 20px !important;
        right: -18px;
        padding-bottom: 50px;
    }

    .path-frontpage .video.paragraph {
        padding-bottom: 0px;
        margin-bottom: -6px;
        height: 160px;
        overflow: hidden;
    }

    .video.paragraph .container {
        margin-top: 0px;
    }

    .path-frontpage video{
        width:100%;
        height:100%;
    }

    .path-frontpage .title-arrow {
        position: relative;
        top: 80px;
    }

}


@media (max-width: 991px) and (min-width: 777px){

    .path-frontpage footer {
        padding-top: 10mm!important;
    }

}

@media (max-width: 991px) and (min-width: 768px){
    .region-we-mega-menu {
        top: 79px;
    }
    
    #menu1 {
        height: 160px;
    }
    
    #my_xss_magic {
        top: 6px!important;
        right: 22px!important;
    }
    .news-grid .feature__body.boxed.boxed--border a {
        line-height: 0px;
        font-size: 16px;
    }


}


@media (min-width: 769px){

    .mobile-banner-image{
        display: none;
    }
    

    .desktop-banner-image{
        display: block;
        margin-top: 130px;
    }

}

@media (max-width: 768px){

    #my_xss_magic {
        top: 0px!important;
        right: 15px!important;
    }

    .desktop-banner-image{
        display: none;
    }

    .mobile-banner-image{
        display: block;
    }

    .mobile-banner-image .container {
        width: 100%;
        padding: 0;
    }

    .mobile-banner-image {
        padding: 0;
    }

    .special-text {
        top: 0px !important;
    }
    .philosophy-responsive p {
        padding: 14px;
        font-size: 20pt!important;
        line-height: 8mm;
    }
    .timeline-responsive img {
        width: 300px;
    }

    .timeline-responsive .col-sm-4{
        text-align: center;
        margin-bottom: 50px;
    }

    .timeline-responsive .row {
        padding-bottom: 0px;
    }

    .path-not-frontpage footer{
        padding-top: 10mm!important;
    }
    .description-footer {
        margin-bottom: 10px;
    }

    .video{
        padding-top: 0px;
    }

    .path-not-frontpage .video.paragraph {
        padding-top: 0px;
    }

    .boxes-company-news .news-links .home-design .person-teaser.small {
        padding-bottom: 55%;
    }

    .boxes-company-news .news-boxes {
        height: auto !important;
    }

}

@media (max-width: 378px){
    #my_xss_magic {
        width: 170px!important;
        height: 20px !important;
        right: 18px!important;
        top:0px!important;
    }

}

