/*Bars*/

.changecolorpurple{
    background-color: #702673!important;
}

.changecolorred{
    background-color: #BD1521!important;
}

.changeyellow{
    background-color: #F9B234!important;
}

.changeblue{
    background-color: #283583!important;
}

.changeorange{
    background-color: #EA5B0B!important;
}

.changegray{
    background-color: #575757!important;
}


.bar-container {
    width: 125px;
    height: 570px;
    position: relative;
    top: -550px;
    left: 680px;
    z-index: 3;
    clear: both;
    cursor: pointer;
}

.bar-wrapper {
    width: 100%;
    height: 960px;
}

.bar-animated-1 {
    background-color: #702673;
    height: inherit;
    width: 36px;
    float:left;
    z-index: 3;
    position: relative;
}

.bar-animated-2 {
    background-color: #BD1521;
    height: inherit;
    width: 5px;
    float: left;
    z-index: 3;
    position: relative;
}

.bar-animated-3 {
    background-color: #F9B234;
    height: inherit;
    width: 16px;
    float: left;
    z-index: 3;
    position: relative;
}

.bar-animated-4 {
    background-color: #283583;
    height: inherit;
    width: 17px;
    float: left;
    z-index: 3;
    position: relative;
}

.bar-animated-5 {
    background-color: #EA5B0B;
    height: inherit;
    width: 12px;
    float: left;
    z-index: 3;
    position: relative;
}

.bar-animated-6 {
    background-color: #575757;
    height: inherit;
    width: 15px;
    float: left;
    z-index: 3;
    position: relative;
}

.bar-animated-7 {
    background-color: #59A332;
    height: inherit;
    width: 23px;
    float: left;
    z-index: 3;
    position: relative;
}

.text-bar-animated {
    position: relative;
    width: 860px;
    height: 545px;
    left: 800px;
    top: -1068px;
}


.fill-gap-purple{
    width: 0px;
    background-color:#702673;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.transition{
    width: 1050px!important;
    transition-timing-function: ease;
}

.fill-gap-red{
    width: 0px;
    background-color: #BD1521;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.fill-gap-yellow{
    width: 0px;
    background-color: #F9B234;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.fill-gap-blue{
    width: 0px;
    background-color: #283583;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.fill-gap-orange{
    width: 0px;
    background-color: #EA5B0B;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.fill-gap-gray{
    width: 0px;
    background-color: #575757;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}

.fill-gap-green{
    width: 0px;
    background-color: #59A332;
    height: inherit;
    position: relative;
    transition: width 0.5s;
}
.fill-gap-green .internal-text h2,
.fill-gap-gray .internal-text h2,
.fill-gap-orange .internal-text h2,
.fill-gap-blue .internal-text h2,
.fill-gap-yellow .internal-text h2,
.fill-gap-red .internal-text h2,
.fill-gap-purple .internal-text h2 {
    position: relative;
    left: 110px;
    width: 630px;
    line-height: 62px;
    color: white !important;
    text-align: left;
    font-size: 32px!important;
    text-transform: initial;
}

.hide-element{
    display:none!important;
}


.show-element{
    display:block!important;
}

.bacground-balam {
    background-image: url('/sites/default/files/images/blogliberty9_0.jpg');
    height: 500px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bacground-text {
    background-color: #B3B2B2;
}

.message .title-internal-page {
    font-size: 40px;
    color: white !important;
    letter-spacing: 0px !important;
    font-family: "Helvetica Neue" !important;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 12mm;
    margin-bottom: 30px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.message p {
    font-size: 16pt;
    color: #fff !important;
    font-family: "Helvetica Neue";
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 8mm;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px !important;
}

/*************** Green Icon  ******************/

.fill-gap-green .internal-text {
    position: relative;
    top: -50px;
    left: 100px;
}

.fill-gap-green .internal-text p {
    position: relative;
    left: 123px;
    width: 630px;
    line-height: 62px;
    color: white !important;
    text-align: left;
    font-size: 26px !important;
    text-transform: initial;
    top: 277px;
}

.fill-gap-green .internal-text img {
    width: 120px;
    position: relative;
    top: 300px;
    left: 270px;
}

.fill-gap-green .internal-text h2 {
    top: 238px;
    left: 260px;
}

/*********************************/

/**************** Gray ******************/


.fill-gap-gray.show-text .internal-text {
    position: relative;
    top: -92px;
    left: 100px;
}

.fill-gap-gray img {
    width: 160px;
    position: relative;
    top: 300px;
    left: 260px;
}

.fill-gap-gray p {
    position: relative;
    left: 36px;
    width: 630px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}


.fill-gap-gray .internal-text h2 {
    top: 252px;
    text-align: center;
    width: 670px;
    left: 20px;
}


/***************************************/

/**************** Orange ******************/


.fill-gap-orange .internal-text {
    position: relative;
    top: -25px;
    left: 100px;
}

.fill-gap-orange img {
    width: 120px;
    position: relative;
    top: 300px;
    left: 280px;
}


.fill-gap-orange p {
    position: relative;
    left: 10px;
    width: 680px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}

.fill-gap-orange .internal-text h2 {
    top: 250px;
    text-align: center;
    width: 670px;
    left: 17px;
}

/***************************************/

/**************** Blue ******************/


.fill-gap-blue .internal-text {
    position: relative;
    top: -60px;
    left: 110px;
}

.fill-gap-blue img {
    width: 150px;
    position: relative;
    top: 300px;
    left: 255px;
}


.fill-gap-blue p {
    position: relative;
    left: 5px;
    width: 680px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}

.fill-gap-blue .internal-text h2 {
    top: 250px;
    text-align: center;
    width: 640px;
    left: 17px;
}

/***************************************/

/**************** Yellow ******************/


.fill-gap-yellow .internal-text {
    position: relative;
    top: -115px;
    left: 110px;
}

.fill-gap-yellow img {
    width: 90px;
    position: relative;
    top: 320px;
    left: 310px;
}


.fill-gap-yellow p {
    position: relative;
    left: 26px;
    width: 680px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}

.fill-gap-yellow .internal-text h2 {
    top: 257px;
    text-align: center;
    width: 680px;
    left: 32px;
}

/***************************************/


/**************** Red ******************/


.fill-gap-red .internal-text {
    position: relative;
    top: -60px;
    left: 120px;
}

.fill-gap-red img {
    width: 260px;
    position: relative;
    top: 300px;
    left: 236px;
}


.fill-gap-red p {
    position: relative;
    left: 26px;
    width: 680px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}

.fill-gap-red .internal-text h2 {
    top: 252px;
    text-align: center;
    width: 720px;
    left: 17px;
}

/***************************************/


/**************** Purple ******************/

.fill-gap-purple .internal-text {
    position: relative;
    top: -148px;
    left: 140px;
}

.fill-gap-purple img {
    width: 150px;
    position: relative;
    top: 300px;
    left: 280px;
}


.fill-gap-purple p {
    position: relative;
    left: 26px;
    width: 680px;
    line-height: 62px;
    color: white !important;
    text-align: center;
    font-size: 26px !important;
    text-transform: initial;
    top: 290px;
}

.fill-gap-purple .internal-text h2 {
    top: 252px;
    text-align: center;
    width: 670px;
    left: 17px;
}

.balansign {
    display: block !important;
    width: 270px;
}
/***************************************/




@media (min-width: 1740px) and (max-width: 1920px) {
    .bar-container {
        left: 600px!important;  
    }

    .page-node-type-full-page .article__body {
        width: 510px;
        padding-right: 15px;
        padding-top: 16mm;
    }

    .page-node-type-full-page .article__body h2 {
        font-size: 28pt;
        color: #fff !important;
        letter-spacing: 0px !important;
        font-family: "Helvetica Neue" !important;
        line-height: 44px;
    }

}


@media (min-width: 1665px) {
 
    .fill-gap-green .internal-text {
        left: 28px;
    }

    .fill-gap-gray.show-text .internal-text {
        left: 62px;
    }

    .fill-gap-orange .internal-text {
        left: 80px;
    }



}



@media (min-width: 1525px) and (max-width: 1740px) {
    .bar-container {
        left: 790px !important;
    }

    .page-node-type-full-page .article__body {
        width: 510px;
        padding-right: 15px;
        padding-top: 18mm;
        position: relative;
        left: 142px;
    }

    .page-node-type-full-page .container.full-expand {
        margin-left: 0px !important;
    }
    
    
}



@media (min-width: 1680px) {
   
    .fill-gap-green .internal-text {
        left: 88px;
        top:-28px;
    }

    .fill-gap-gray.show-text .internal-text {
        top: -65px;
        left: 110px;
    }

    .fill-gap-orange .internal-text {
        top:-20px;
        left: 130px;
    }

    .fill-gap-blue .internal-text {
        top: -15px;
        left: 110px;
    }

    .fill-gap-yellow .internal-text {
        top: -115px;
        left: 80px;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -15px;
        left: 80px;
    }

    .fill-gap-purple .internal-text {
        position: relative;
        top: -125px;
        left: 120px;
    }

}


@media (min-width: 1364px) and (max-width:1679px) {
    .fill-gap-green .internal-text {
        position: relative;
        top: -50px;
        left: 0px;
    }

    .fill-gap-gray.show-text .internal-text {
        position: relative;
        top: -87px;
        left: -20px;
    }

    .fill-gap-orange .internal-text {
        position: relative;
        top: -45px;
        left: -20px;
    }

    .fill-gap-blue .internal-text {
        position: relative;
        top: -40px;
        left: 20px;
    }

    .fill-gap-yellow .internal-text {
        position: relative;
        top: -133px;
        left: 0px;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -38px;
        left: -10px;
    }

    .fill-gap-purple .internal-text {
        position: relative;
        top: -148px;
        left: 60px;
    }


}


@media (min-width: 1300px) and (max-width:1363px) {


    .fill-gap-green .internal-text img {
        width: 120px;
        position: relative;
        top: 310px;
        left: 200px;
    }
    
    .fill-gap-green .internal-text p {
        left: 53px;
    }
    
    .fill-gap-green .internal-text h2 {
        top: 250px;
        left: 190px;
    }
    
    .fill-gap-green .internal-text {
        position: relative;
        top: -43px;
        left: 0px;
    }

    .fill-gap-gray.show-text .internal-text {
        position: relative;
        top: -76px;
        left: -70px;
    }


    .fill-gap-orange p {
        font-size: 21px !important;
    }

    .fill-gap-orange .internal-text {
        position: relative;
        top: -25px;
        left: -47px;
    }

    .fill-gap-orange .internal-text h2 {
        top: 256px;
    }

    .fill-gap-blue .internal-text {
        position: relative;
        top: -28px;
        left: -20px;
    }

    .fill-gap-yellow .internal-text {
        position: relative;
        top: -121px;
        left: -21px;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -27px;
        left: -45px;
    }

    .fill-gap-red .internal-text h2 {
        font-size: 28px !important;
    }

    .fill-gap-purple .internal-text {
        position: relative;
        top: -137px;
        left: -30px;
    }

    


}



@media (min-width: 1300px) and (max-width: 1524px) {
 
    .page-node-type-full-page .article__body {
        width: 510px;
        padding-right: 15px;
        padding-top: 18mm;
        left: 20px;
        position: relative;
        left: 90px;
    }

    .bar-container {
        left: 680px;
    }
    .page-node-type-full-page .container.full-expand {
        margin-left: 0px !important;
    }

}



@media (min-width: 1200px) and (max-width: 1299px) {

    .fill-gap-green .internal-text {
        position: relative;
        top: -67px;
        left: -58px;
    }

    .fill-gap-gray.show-text .internal-text {
        position: relative;
        top: -103px;
        left: -54px;
    }

    .fill-gap-orange .internal-text {
        position: relative;
        top: -59px;
        left: -38px;
    }

    .fill-gap-orange p {
        font-size: 22px !important;
    }

    .fill-gap-blue .internal-text {
        position: relative;
        top: -55px;
        left: -10px;
    }

    .fill-gap-yellow .internal-text {
        position: relative;
        top: -148px;
        left: -20px;
    }

    .fill-gap-red .internal-text h2 {
        font-size: 28px !important;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -50px;
        left: -26px;
    }

    .fill-gap-purple p {
        left: 16px;
    }


    .fill-gap-purple .internal-text {
        position: relative;
        top: -161px;
        left: 30px;
    }

    .fill-gap-purple img {
        left: 270px;
    }
 
    .page-node-type-full-page .article__body {
        width: 400px;
        padding-right: 15px;
        padding-top: 8mm;
        position: relative;
        left: 60px;
    }

    .bar-container {
        left: 560px;
    }

    .page-node-type-full-page .container.full-expand {
        margin-left: 0px !important;
    }

    .page-node-type-full-page .article__body h2 {
        line-height: 43px;
    }

}

@media (min-width: 990px) and (max-width: 1199px) {

    .page-node-type-full-page .container.full-expand {
        margin-left: 0px !important;
    }

    .bar-container {
        left: 560px;
    }

    .page-node-type-full-page .article__body {
        width: 400px !important;
        padding-top: 32px !important;
        padding-right: 15px;
        position: relative;
        left: 90px;
    }
    .page-node-type-full-page .article__body h2 {
        line-height: 42px;
    }
    
}


@media (min-width: 1130px) and (max-width: 1199px) {

    .fill-gap-green .internal-text {
        position: relative;
        top: -50px;
        left: -91px;
    }

    .fill-gap-gray .internal-text h2 {
        font-size: 28px !important;
    }

    .fill-gap-gray.show-text .internal-text {
        position: relative;
        top: -92px;
        left: -88px;
    }

    .fill-gap-orange p {
        font-size: 20px !important;
    }

    .fill-gap-orange .internal-text {
        position: relative;
        top: -47px;
        left: -76px;
    }

    .fill-gap-blue .internal-text h2 {
        font-size: 28px !important;
    }

    .fill-gap-blue .internal-text {
        top: -44px;
        left: -50px;
    }

    .fill-gap-yellow .internal-text {
        position: relative;
        top: -136px;
        left: -54px;
    }

    .fill-gap-red .internal-text h2 {
        font-size: 26px !important;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -38px;
        left: -65px;
    }

    .fill-gap-purple .internal-text h2 {
        font-size: 28px !important;
    }

    .fill-gap-purple .internal-text {
        position: relative;
        top: -151px;
        left: 0px;
    }

}

@media (min-width: 992px) and (max-width: 1130px) {

    .fill-gap-green .internal-text p {
        left: 195px;
        font-size: 18px !important;
        top: 290px;
    }
    
    .fill-gap-green .internal-text h2 {
        top: 250px;
        left: 268px;
    }
    
    .fill-gap-green .internal-text img {
        width: 120px;
        top: 300px;
        left: 275px;
    }
    
    .fill-gap-green .internal-text {
        position: relative;
        top: -50px;
        left: -173px;
    }

    .fill-gap-gray .internal-text h2 {
        top: 254px;
        left: -20px;
        font-size: 20px !important;
    }
    
    .fill-gap-gray p {
        left: 0px;
        font-size: 18px !important;
        top: 300px;
    }
    
    .fill-gap-gray.show-text .internal-text {
        position: relative;
        top: -71px;
        left: -120px;
    }
    
    .fill-gap-gray img {
        width: 160px;
        position: relative;
        top: 320px;
        left: 232px;
    }

    .fill-gap-orange p {
        left: 202px;
        width: 320px;
        line-height: 30px;
        font-size: 20px !important;
        top: 290px;
    }
    
    .fill-gap-orange img {
        top: 300px;
        left: 304px;
    }

    .fill-gap-orange .internal-text h2 {
        top: 264px;
        left: 27px;
    }

    .fill-gap-orange .internal-text {
        position: relative;
        top: -39px;
        left: -151px;
    }

    .fill-gap-blue .internal-text h2 {
        top: 270px;
        left: 38px;
        font-size: 18px !important;
    }
    
    .fill-gap-blue p {
        left: 20px;
        width: 680px;
        line-height: 62px;
        font-size: 18px !important;
        top: 315px;
    }

    .fill-gap-blue img {
        top: 320px;
        left: 285px;
    }

    .fill-gap-blue .internal-text {
        position: relative;
        top: -37px;
        left: -140px;
    }

    .fill-gap-yellow p {
        left: 35px;
        line-height: 62px;
        font-size: 20px !important;
        top: 290px;
    }

    .fill-gap-yellow .internal-text h2 {
        top: 254px;
        left: 32px;
    }

    .fill-gap-yellow img {
        top: 320px;
        left: 320px;
    }

    .fill-gap-yellow .internal-text {
        position: relative;
        top: -123px;
        left: -140px;
    }

    .fill-gap-red .internal-text h2 {
        top: 264px;
        left: 13px;
        font-size: 18px !important;
    }

    .fill-gap-red p {
        left: 36px;
        line-height: 62px;
        font-size: 24px !important;
        top: 310px;
    }

    .fill-gap-red img {
        width: 260px;
        top: 320px;
        left: 246px;
    }

    .fill-gap-red .internal-text {
        position: relative;
        top: -60px;
        left: -130px;
    }

    .fill-gap-purple .internal-text h2 {
        top: 247px;
        text-align: center;
        width: 670px;
        left: 35px;
        font-size: 22px !important;
    }
    
    .fill-gap-purple p {
        font-size: 23px !important;
    }

    .fill-gap-purple .internal-text {
        position: relative;
        top: -125px;
        left: -91px;
    }

}


@media (min-width: 993px){
    .mobile-only {
        display: none;
    }
}

@media (max-width: 992px){
    .desktop-view{
        display: none;
    }
    .mobile-only {
        display: block;
    }

    .mobile-only {
        padding-top: 0px;
    }
    .bacground-text {
        background-color: #B3B2B2;
        height: 420px;
    }
}


@media (max-width: 768px){
    .bacground-text {
        background-color: #B3B2B2;
        height: 420px;
    }

    .mobile-only {
        padding-top: 0px;
        padding-bottom:0px;
    }

    .message .title-internal-page {
        font-size: 30px;
        color: white !important;
        letter-spacing: 0px !important;
        font-family: "Helvetica Neue" !important;
        line-height: 46px;
        text-transform: uppercase;
        padding-top: 12mm;
        margin-bottom: 30px !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-only .container {
        width: 100%;
    }


}

@media (max-width: 500px){
   
    .message .title-internal-page {
        font-size: 26px;
    }

    .btn-read-more.col-sm-12.col-lg-3 {
        position: relative;
        top: 0px;
        padding-bottom: 20px;
        float: left;
        margin-left: -10px;
    }

    .news-home-boxes {
        padding-bottom: 50px !important;
    }

    .bacground-balam {
        height: 350px;
    }

    
    .bacground-text {
        background-color: #B3B2B2;
        height: 500px;
    }

}

@media (max-width: 390px){
   

    .bacground-text {
        background-color: #B3B2B2;
        height: 600px;
    }

    .bacground-balam {
        height: 350px;
    }

    
    .bacground-text {
        background-color: #B3B2B2;
        height: 500px;
    }


    .message .title-internal-page {
        font-size: 24px;
    }

}


@media (max-width: 375px){
   


    .bacground-text {
        background-color: #B3B2B2;
        height: 560px;
    }


    .message .title-internal-page {
        font-size: 22px;
    }

}




@media (max-width: 345px){
   
    .bacground-text {
        background-color: #B3B2B2;
        height: 590px;
    }



    .message .title-internal-page {
        font-size: 18px;
    }


}