#year2019,
#year2018,
#year2017,
#year2016,
#year2015,
#year2014,
#year2012,
#year2011,
#year2007,
#year2006,
#year2005,
#year2001,
#year2000{
 display: none;
}

.show-effect-year{
    display: block!important;
}


@media (min-width: 1200px) {
   
    .timeline-responsive{
        display: none;
    }

}


@media (min-width: 991px) and (max-width: 1199px) {
   
    .timeline-new .container {
        width: 100%;
    }
    .timeline-responsive{
        display: none;
    }

}

@media (max-width: 990px) {
   
    .timeline-new {
        display: none;
    }

    .timeline-responsive{
        display: block;
    }

}

