.timeline-container {
    height: 690px;
    width: 1250px;
    overflow-x: scroll;
}

#timeline {
    height: 650px;
}

#elements2000,
#elements2001,
#elements2005,
#elements2006,
#elements2011,
#elements2012,
#elements2014,
#elements2015,
#elements2016,
#elements2017,
#elements2018,
#elements2019{
    display: none;
}



.hide-element{
    display:none!important;
}

.show-element{
    display:block!important;
}


.fade-in {
    animation: fadeIn ease 1s !important;
    -webkit-animation: fadeIn ease 1s !important;
    -moz-animation: fadeIn ease 1s !important;
    -o-animation: fadeIn ease 1s !important;
    -ms-animation: fadeIn ease 1s !important;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }